.index-footer{
    width: 100%;
    height: 44px;
    background: #2C2F33;
    /* position: fixed;
    bottom: 0px; */
}
.index-footer .footer-content{
    font-family: PingFangSC-Regular;
    width: 1000px;
    margin: 0 auto;
    line-height: 44px;
    text-align: right;
    color: #fff;
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.index-footer .footer-content::before{
    content:"";
}