.newPosition-list{
    background: #FFF;
    box-shadow: 0 0 15px 0 rgba(31,56,88,0.08);
    border-radius: 3px;
    float: left;
    overflow: hidden;
    position: relative;
}
.more-positon{
    height:49px;
    border-bottom: 1px solid rgba(31,56,88,0.06);
    line-height: 49px;
    padding:0 14px;
    opacity: 0.8;
    background: #FFFFFF;
    font-size: 14px;
    color: #000000;
    position: relative;
    z-index: 2;
}
.more-positon::before{
    content: "";
}
.clickMorePosition{
    float: right;
    font-size: 14px;
    color:rgba(31,56,88,0.60);
    cursor: pointer;
    text-decoration: none;
}