.search-topic{
    color: rgba(31,56,88,0.30);
    line-height: 20px;
    margin-left: 8px;
    position: absolute;
    z-index: 90;
    font-size: 14px;
    top: 50%;
    margin-top: -10px;
    width: 300px;
    
}
.search-text{
    padding: 10px 0 6px;
    text-indent: 10px;
    width: 460px;
    float: left;
    border: 0;
    font-size: 14px;
    position: relative;
    top: 4px;
    outline: none;
}
.search-btn{
    cursor: pointer;
}